<div>
<h3><a href={{bill.urls.opencongress}}> {{bill.bill_id}} {{bill.short_title}}</a></h3>
<h4 class='warning'>WARNING: click link at your own risk - THAT'S HOW THEY GETCHA</h4>
<p>{{bill.official_title}}</p>
</div>
