<h3>Contact your legislators and tell them you want the <em>truth</em></h3>
<form>
  <div class="form-group">
    <label for="zip">Zip (don't worry we don't save this information like the guvmint does.)</label>
    {{input value=zip id='zip' class="form-control"}}
  </div>
  <button class='btn' {{action 'zipLookup'}}>Submit</button>
</form>
