.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.warning {
  color: red;
}

.jumbotron h1{
  font-family: 'Ewert', cursive;
}

.jumbotron h6, .jumbotron h5, .jumbotron h4, .jumbotron h3{
  text-align: center;
}
