<div class="jumbotron">
  <div class="row">
    <div class="col-sm-5">
      <h1 class="align-right"><img src="assets/images/sparkleflag.gif">Guvmint</h1>
    </div>
    <div class="col-sm-1">
      <h1 class="align-center">{{#link-to 'index'}}{{fa-icon 'user-secret'}}{{/link-to}}</h1>
    </div>
    <div class="col-sm-6">
      <h1>Information<img src="assets/images/sparkleflag.gif"></h1>
    </div>
  </div>
  <h3>We watch the gubment so you don't have to</h3>
  <h4>We're here for you. Delivering the REAL NEWS <em>they</em> don't want you to know about</h4>
  <h5>But don't tell them where we are. Or that we're using their api</h5>
  <h6>{{#link-to 'committees'}}Random page of alien committees is random{{/link-to}}</h6>
</div>
<div class="container">
  {{outlet}}
</div>
<footer class="navbar-fixed-bottom align-center"><p>Best viewed with: <img src="assets/images/ns.gif" alt="" /></p></footer>
