<div class="jumbotron">
  <div class="row">
    <div class="col-sm-5">
      <h1 class="align-right">Guvmint</h1>
    </div>
    <div class="col-sm-2">
      <h1 class="align-center">{{#link-to 'index'}}{{fa-icon 'user-secret'}}{{/link-to}}</h1>
    </div>
    <div class="col-sm-5">
      <h1>Information</h1>
    </div>
  </div>
  <h3>We watch the gubment so you don't have to</h3>
  <h4>We're here for you. Delivering the REAL NEWS <em>they</em> don't want you to know about</h4>
  <h5>But don't tell them where we are. Or that we're using their api</h5>
</div>
<div class="container">
  {{outlet}}
</div>
