<div class="row">
  <div class="col-sm-6">
    {{leg-lookup zipLookup="zipLookup"}}
  </div>
  <div class="col-sm-6">
    {{conspiracy-list}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <img class="center-block" src="assets/images/baldeagle.gif">
  </div>
  <div class="col-sm-6">
    <img class="center-block" src="assets/images/baldeagle.gif">
  </div>
</div>
<img class="center-block" src="assets/images/americaflag.gif">
